<div class="container landingpage_buttons">
  <p class="is-4">Besucht uns auf:</p>
  <div class="buttons">
    <a class="button is-large" href="https://twitter.com/codeformuenster">
      <span class="icon">
        <img src="{{ '/assets/img/twitter.svg' | prepend: site.baseurl }}" alt="twitter logo" />
      </span>
    </a>
    <a class="button is-large" href="https://github.com/codeformuenster">
      <span class="icon">
        <img src="{{ '/assets/img/github.svg' | prepend: site.baseurl }}" alt="github logo" />
      </span>
    </a>
    <a class="button is-large" href="https://wechange.de/project/code-for-muenster/">
      <span class="icon">
        <img src="{{ '/assets/img/wechange.png' | prepend: site.baseurl }}" alt="wechange.de logo" />
      </span>
    </a>
    <a class="button is-large" href="https://gettogether.community/code-for-m%C3%BCnster/">
      <span class="icon">
        <img src="{{ '/assets/img/gettogether.community.png' | prepend: site.baseurl }}" alt="gettogether.community logo" />
      </span>
    </a>
    <a class="button is-large" href="https://matrix.to/#/#codeformuenster-events:matrix.org">
      <span class="icon">
        <img src="{{ '/assets/img/matrix-logo.svg' | prepend: site.baseurl }}" alt="matrix.org logo" />
      </span>
    </a>
  </div>
</div>
