<div class="columns is-multiline is-mobile">
<!--
  date: 2022-10-24
  title: Code For Germany Summit
  text: Dieses Jahr soll es wieder ein Vor-Ort-Treffen der Code For Germany Community in Berlin geben. Der Termin steht noch nicht fest. Für Code For Münster Mitglieder gibt's Fahrtkostenzuschuss.
  address: Berlin
  url: https://codefor.de
-->

  {% for event in site.data.events %}
    {% assign today_date = 'now' | date: '%s' %}
    {% assign event_date = event.date | date: '%s' %}
    {% if today_date < event_date %}
    <div class="column is-3-desktop is-4-tablet is-6-mobile is-12-max-500">
        <div class="card project-card">
          <div class="card-content">
            <div class="content">
              {{ event.date | date: "%d.%m.%Y" }}
              <a class="event-title" href="{{ event.url }}">
                {{ event.title }}
              </a>
              {{ event.text }}
              <div class="event-address">
                Adresse: {{ event.address}}
              </div>
            </div>
          </div>
          <!-- footer class="card-footer">
            {{ event.address}}
          </footer -->
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
