<footer class="footer">
    <div class="container">

        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{% if item.local_link %}{{ item.local_link | prepend: site.baseurl }}{% else %}{{ item.link }}{% endif %}" class="link">
                        {% if item.local_image %}
                            <img src="{{ item.local_image | prepend: site.baseurl }}" class="{{ item.image_class }}" alt="{{ item.name }}" />
                        {% else %}
                            {{ item.name }}
                        {% endif %}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>
    </div>
</footer>
