<script>
if (window.location.hostname === "codeformuenster.org") {
  (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
  })(document, window, '//ct.codeformuenster.org/t.js', 'fathom');
  fathom('set', 'siteId', 'LJAMR');
  fathom('trackPageview');
}
</script>
<script>
// Dynamically write the next hacknight date into the content
var d = new Date();
d.setDate(d.getDate() + ((7-d.getDay())%7+2) % 7);
dateString = d.toLocaleDateString("de-DE", { weekday: 'long' })+ ", " + d.getDate()  + "." + (d.getMonth()+1) + "." + d.getFullYear()
document.getElementById('hacknight_date').innerHTML = dateString;
</script>
