
## Nächstes Treffen

<div class="columns">
<div class="column is-7">
<div class="notification is-danger ">
<span class="is-size-4">Unsere "Hacknight" findet üblicherweise Dienstags statt</span><br />
<i>Offener Treff zum Austausch und Coden (Am besten Laptop mitbringen)</i><br/>
Unseren nächsten Hacknight-Termin findest Du <a href="https://www.meetup.com/de-DE/code-for-munster">auf meetup.com.</a>
<br />
Ort: Cafe Drei:Klang<br />
Wolbecker Straße 36, Münster<br />
Start: ca. 19:30, Ende offen
</div>
<p>Zwischen den Treffen komm gern <a href="https://matrix.to/#/#codeformuenster-events:matrix.org">in unserem Matrix-Chat (siehe rechts)</a>.
</p>

<p><b>Was erwartet Dich?</b></p>
<p>
Die Hacknight ist der richtige Ort, um in lockerer Atmosphäre an eigenen oder gemeinsamen Projekten zu coden und
sich mit anderen Hacker*innen auszutauschen. Wir freuen uns über neue Gesichter, neue Themen und helfen auch gern bei Coding-Problemen.
</p>
</div>
<div class="column is-5">
<iframe src="https://matrix.spassmitdaten.de/" width="100%" height="320" style="border:1px solid #ccc;">
</iframe>
</div>
</div>
