<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="http://codeformuenster.org/img/cfm_logo.png" alt="Code for Münster">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Blog</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Mitmachen</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Über uns</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Nächstes Treffen</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Projekte</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Newsletter Anmeldung</a></li>
      </ul>
    </nav>
  </div>
</header>
