<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ "/index.html" | prepend: site.baseurl }}" class="logo">
      <img src="https://codeformuenster.org/img/cfm_logo.png" alt="Code for Münster">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="{{ "/ueber-uns/index.html" | prepend: site.baseurl }}">Über uns</a></li>
        <li class="nav-link"><a href="{{ "/projekte/" | prepend: site.baseurl }}">Projekte</a></li>
        <li class="nav-link"><a href="{{ "/blog/index.html" | prepend: site.baseurl }}">Blog</a></li>
        <li class="nav-link"><a target="_blank" href="https://www.meetup.com/OK-Lab-Munster/">Nächstes Treffen</a></li>
      </ul>
    </nav>
  </div>
</header>
