<div id="next-meetup">
  <div id="date">

    <div id="meetup-details">
      <h1>Hacknight</h1>
      <p>
          Die jeden <b>Dienstag um 18:30 Uhr</b> stattfindenden Hacknights sind genau der richtige Ort, um sich gegenseitig über unsere Projekte, neueste Open Data und technologische Entwicklungen auszutauschen. Treffpunkt ist im <b></b>drei:klang in der Wolbecker Str. 36</b>. Manchmal sind nicht alle pünktlich, aber ab 19 Uhr sollte auf jeden Fall jemand anzutreffen sein.
        </p>
      <div id="rvsp-button">
        <a class="uk-button uk-button-primary uk-button-large" href="https://www.meetup.com/OK-Lab-Munster" id="rvsp">Ich bin dabei!</a>
      </div>
    </div>
  </div>
</div>
