<div class="columns is-multiline is-mobile">
  {% for repository in site.github.public_repositories %}
    {% if site.data.projects[repository.name] and site.data.projects[repository.name].showcased %}
      {% assign repo_data = site.data.projects[repository.name] %}
      {% capture repo_image_path %}{{site.baseurl}}/assets/img/projects/{{ repo_data.image }}{% endcapture %}
      <div class="column is-3-desktop is-4-tablet is-6-mobile is-12-max-500">
        <div class="card project-card">
          <header class="card-header">
            <p class="card-header-title">
              <a href="{{ repo_data.project_url }}">
                {{ repo_data.title }}
              </a>
            </p>
          </header>
          <div class="card-image">
            <figure class="image project-image">
              <img src="{{ repo_image_path }}" alt="{{ repo_data.title }}" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              {% if repository.description %}{{ repository.description }}{% endif %}
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{ repository.html_url }}" class="card-footer-item"
              >Quellcode</a
            >
          </footer>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
